[Desktop Entry]
Type=Application
Exec=kphone
Icon=kphone
Comment=A SIP phone for KDE
Comment[az]=KDE üçün SIP telefonu
Comment[bs]=SIP telefon za KDE
Comment[ca]=Un telèfon SIP per al KDE
Comment[cs]=SIP-telefon pro prostředí KDE
Comment[da]=En Sip telefon for KDE
Comment[de]=Ein SIP-Telephon für KDE
Comment[el]=Τηλέφωνο SIP για το KDE
Comment[eo]=SIP-telefono por KDE
Comment[es]=Un teléfono SIP para KDE
Comment[et]=SIP telefon KDE'le
Comment[eu]=SIP telefono bat KDErentzat
Comment[fi]=SIP-puhelin KDE:lle
Comment[fr]=Un téléphone SIP pour KDE
Comment[gl]=Un teléfono SIP para KDE
Comment[he]=KDE-ל SIP ןופלט
Comment[hr]=SIP telefon za KDE
Comment[hu]=Egy SIP telefon a KDE felülethez
Comment[is]=SIP-sími fyrir KDE
Comment[it]=Un telefono SIP per KDE
Comment[ja]=KDE用のSIP phone
Comment[ko]=KDE용 SIP 전화
Comment[lt]=KDE SIP telefonija
Comment[lv]=SIP telefons priekÅ? KDE
Comment[mk]=SIP телефон за KDE
Comment[nl]=een SIP-telefoon voor KDE
Comment[nb]=En SIP-telefon for KDE
Comment[nn]=Ein SIP-telefon for KDE
Comment[oc]=Un telèfon SIP per al KDE
Comment[pl]=Telefon SIP dla KDE
Comment[pt]=Um telefone SIP para o KDE
Comment[pt_BR]=Um telefone SIP para o KDE
Comment[ro]=Un telefon SIP pentru KDE
Comment[ru]=SIP телефон для KDE
Comment[sk]=SIP telefón pre KDE
Comment[sl]=Telefon SIP za KDE
Comment[sr@Latn]=SIP telefon za KDE
Comment[sv]=En SIP-telefon för KDE
Comment[ta]=KDE ì¸¡É ´Õ SIP ¦¾¡¨§Àº¢
Comment[tr]=KDE için SIP telefonu
Comment[uk]=SIP-телефон для KDE
Comment[zh_CN]=KDE 的 SIP 电话
Comment[zh_TW]=KDE 的 SIP phone
Terminal=false
Name=KT&T
Categories=Qt;Network;Telephony;
# vi: encoding=utf-8
